@import "fonts.scss";

.bookContainer {
    h1, h2, h3, h4 {
        font-family: $display;
    }

    p, li {
        font-family: $serif;
        line-height: 1.25;
    }

    p + ul {
        margin-top: -0.5em;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        
        a {
            text-decoration: none;
            font-style: italic;
        }
    }

    td, th {
        border: 1px solid lightgray;
        padding: 2px 8px;
    }
}